<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submission Form</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
        <h1>Submission Form</h1>
        <div id="error-message" style="color: red; display: none;"></div>
        <form id="submission-form">
            <label for="name">Surname:</label>
            <input type="text" id="firstName" name="name" required value="Albin">

            <label for="name">Lastname:</label>
            <input type="text" id="lastName" name="name" required value="Malmgren">

            <label for="name">checkIn:</label>
            <input type="text" id="checkIn" name="name" required value="2025-01-22">
    
            <label for="name">checkOut:</label>
            <input type="text" id="checkOut" name="name" required value="2025-01-24">

            <label for="name">allergies:</label>
            <input type="text" id="allergies" name="name" required value="Nuts">
            
            <label for="role">organisation:</label>
            <input type="text" id="organisation" name="role" required value="SAAB HQ">
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required value="2532">
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
<script src="/script.js"></script>