/* General Styling */
body {
    font-family: 'Aktiv Grotesk', sans-serif;
    background-color: #373737;
    color: #d9d9d6;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container */
.container {
    width: 100%;
    max-width: 450px;
    padding: 20px;
    box-sizing: border-box;
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.logo {
    width: 150px;
    margin-bottom: 15px;
}

h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    font-size: 14px;
    line-height: 1.6;
    color: #bbbbbb;
    margin-bottom: 20px;
}

/* Form Styling */
form {
    display: flex;
    flex-direction: column;
}

.form-row, .form-group {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.form-row input,
.form-group input {
    flex: 1;
    background: #34332D;
    color: #d9d9d6;
    border: none;
    border-bottom: 1px solid #555550;
    padding: 10px 5px;
    font-size: 15px;

}

.form-group input {
    width: 98%;
}

form input::placeholder {
    color: #999;
}

button {
    background-color: #34332D;
    color: #ffb600;
    border: 1px solid #ffb600;
    border-radius: 5px;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    margin-top:20px;
}

button:hover {
    background-color: #ffb600;
    color: #34332D;
}

/* Error Message Styling */
.error-message {
    background-color: #ff4d4d;
    color: white;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

.success-message {
    background-color: #2aa521;
    color: white;
    font-size: 14px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    margin-bottom: 15px;
}

/* Responsive Styling */
@media (max-width: 600px) {
    .form-row {
        flex-direction: column;
    }

    button {
        padding: 12px;
        font-size: 14px;
    }

    .container {
        margin: 20px; /* Add spacing around the content */
    }
}
